.gyun_header{
    display:grid;
    background-color: white;
    grid-template-areas:"logo search menu  profile";
    width:100%;
    margin-top:3%;
    height:10%;
}
.gyun_logo{
    grid-area:logo;
}
.gyun_search_container{
    margin-right:200px;
}
.gyun_search{
    width:30%;
    grid-area:search;
}
.gyun_menu_container{
    grid-area:menu;
}

.gyun_items{
    margin:30px;
}
.gyun_nav{
    margin:10px;
}
.gyun_items:hover{
    color:red;
    border-bottom:1px solid red;
}
.gyun_profiles{
    
    grid-area:profile;
    
}

.gyun_user_name{
    float:left;
    width:50%;
}
.gyun_avatar{
    float:left;
    width:45%;
}
.gyun_nav_container{
    margin-top:50px;
    font-size:20px;
    display:flex;
    justify-content:center;
    
}
.gyun_body_container{
    height:100%;
    width:100%;
    
}

.gyun_nav_rent{
    width:200px;
    grid-area:nav_rent;
    
}
.gyun_nav_lodg{
    width:200px;
    grid-area:nav_lodg;
    
}
.gyun_nav_byc{
    width:200px;
    grid-area:nav_byc;
    
}
.gyun_nav_moto
{
    width:200px;
    grid-area:nav_moto;
    
}
.gyun_promotion{
    height: 160px;
    width:160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}
.image_slide{
    
    display:flex;
    justify-content:center;
    
}
.gyun_swiper{
    margin-top:30px;
    width:50%
}
.main_content{
    width:70%;
    margin-left:15%;
    margin-top:50px;
    
}
.main_rentcar,.main_moto,.main_byc,.main_{
    width:100%;
}
.cus_footer{
    
    height:10%;
    margin-top:100px;
    border-top:1px solid gray;
}
.footer_nav{
    width:100%;
    display:grid;
    grid-template-areas:"cus_btn1 cus_btn2 cus_btn3"
    "cus_btn1 cus_btn2 cus_btn3"
    "f_content f_content f_content"
}
.cus_btn1{
    float:left;
    grid-area:cus_btn1;
    width:33%;
}
.cus_btn2{
    float:left;
    grid-area:cus_btn2;
    width:33%;
}
.cus_btn3{
    float:left;
    grid-area:cus_btn3;
    width:34%;
}
.cus_btn1:hover,.cus_btn2:hover,.cus_btn3:hover{
    color:red;
    border-bottom:1px solid red;
}
.footer_contents{
    grid-area:f_content;
    
    text-align:left;
    width:100%;
    margin-top:10px;
    padding-left:100px
}