#header {
  height: 100px;
  display: grid;
  margin-right: 5%;
  grid-template-columns: 20% 20% 20% 20% 25%;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

#aaa {
  display: grid;
  grid-template-columns: 80% 20%;
}

#nav {
  background-color: #ffffff;
  width: 200px;
  height: 500px;
  margin-top: 20%;
  height: 800;
}
.CalendarStyle {
  margin-right: 10%;
  height: 500px;
}
#section {
  margin-top: 5%;
  text-align: left;
}
.navMeta {
  height: 400px;
}
#header,
#nav,
#section,
#footer {
  text-align: center;
}
/* #header,
#footer {
  line-height: 700px;
} */
/* #nav,
#section {
  line-height: 250px;
} */

/* @media (max-width: 600px) {
  #nav,
  #section {
    width: 100%;
    height: auto;
  }
} */
