.search_btn{
    background:#008CBA;
    color:white;
    width:20%;
    border:1px solid white;
    
}
.search_btn:hover{
    background-color:blue;
    cursor: pointer;
}
.search_body_nav {
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
}
.search_body_content{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.search_body_container{
    margin:0 auto;
    width:70%;
}

.search_body_item{
    width:25%;
    text-align: center;
    
}